/* Text */

body {
    max-width: 992px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #4badac;
}

    .italic {
        font-style: italic;
    }
    small {
        font-size: 70%; color: grey; font-weight: normal;
    }

    .card {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        padding: 15px;
        margin-bottom: 22px;
        border-radius: 5px;
        background-color: #eee;
    }

    .card-spin:hover {
        animation: spin 5s ease;
        animation-iteration-count: infinite;
    }

    @keyframes spin {
        from {
          transform: rotateY(0);
        }
        to {
          transform: rotateY(1turn);
        }
      }
      .container {
        perspective: 1000px;
      }

    .card > *:first-child {
        margin-top: 0px;
    }

    .card > *:last-child {
        margin-bottom: 0px;        
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.651);
    }
    

    hr {
        height: 4px; 
        background-color: black;
    }

 /*address*/

    .address    {
        background-image: url("../Images/Map.PNG");
        text-align: right;
        padding: 65px 15px;
        line-height: 28px;
        color: rgb(0, 0, 0);
        font-size: 20px;
    }

 /*quotes*/

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        padding: 0.5em 10px;
      }
      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }


/* Alignment */


    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .justify {
        text-align: justify;
    }

    .card-inside {
        list-style-position: inside;
        vertical-align: middle;
    }

/*list*/

    .circle li {
        list-style-type:circle;
    }

    .square li {
        list-style-type:square;
    }

    .w3 {
        list-style-image: url('../Images/w3.png');

    }

    .phone {
        list-style-image: url('../Images/telephone.png');
    }

    .tab {
        list-style-image: url('../Images/New\ Tab.png');
    }

    .window {
        list-style-image: url('../Images/Male\ user.png');
    }

    .top {
        list-style-image: url('../Images/home.png');
    }

    .bookmark {
        list-style-image: url('../Images/link.png');
    }

    .email {
        list-style-image: url('../Images/email.png');
    }

    ul .list-item-invisible,
    ol .list-item-invisible {
        list-style: none; 
    }


    /*forms*/

    * {box-sizing: border-box;}

.card-form {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.formbox > *:first-child {
    margin-top: 0px;
}



.remember {
    padding-top: 15px;
    margin-left: 40px;
}


.icon {
  padding: 10px;
  background: rgb(56, 59, 61);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid rgb(100, 120, 139);
}



 

/*tables*/

    table {
        border: 1px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table1 tbody tr:nth-child(odd){
        background-color: rgb(163, 163, 163);
    }

    .table1 tbody tr:first-child {
        vertical-align: top;
    }

    .table1 tbody tr:last-child {
        vertical-align: bottom;
    }

    .table1 td:nth-of-type(3) {
        text-align: center;
    }
    .table1 td:nth-of-type(4) {
        text-align: right;
    }

    .table1 thead:first-child th:first-child {
        width: 2%;
    }

    .card-tables {
        overflow-y: auto;
        overflow-x: scroll;
    }

    .table2 tr {
        border: 1px solid rgb(218, 216, 216)
    }

    .table2 thead {
        padding: 25px;
    }
    .table2 thead th {
        width: 10%
    }
    .table2 thead th:last-child {
        width: 40%
    }

    .table2 tr:first-child td:last-child {
        border: 1px solid black;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(2){
        border: 1px solid black;
    }

    .table2 tr:first-child td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:last-child td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:last-child td:nth-of-type(3){
        border: 1px solid black;
    }

    .table2 tr:last-child {
        vertical-align: top;
    }
    .table2 td:first-child {
        vertical-align: middle;
    }

    .table2 tr:first-child {
        vertical-align: top;
    }

    .table2 tr:first-child td:first-child {
        vertical-align: middle;
    }

    .table2 tr:first-child td:last-child {
        vertical-align: middle;
        text-align: right;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(4){
        text-align: right;
        vertical-align: top;
    }

    .table2 tr:last-child td:last-child {
        vertical-align: top;
    }

    .table2 td:first-child {
        padding: 25px;
    }

    .table1 tr td:first-child {
        padding: 25px;
    }

/*box*/

    .content-link {
        text-decoration: none;
        color: black;
    }
    .content-link > *:last-child {
        margin-bottom: 0;
    }


    .box:first-of-type{
        margin-top: 0;
    }

    .box {
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 30px;
        width: 100%;
    }
    .clear {
       clear:both;


    }
/*div*/


    .wrap {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .wrap:first-of-type{
        padding-left: 0;
    } 


    /*images*/

    
    img {
        width: 100%;

    }


    fieldset {
        margin: 0 0 15px;
    }

/* GENERIC */ 
.btn {
    background-color: #ddd;
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
.btn:hover {
    background-color: #ccc;
}
input[type="text"], 
input[type="password"],
input[type="date"],
input[type="tel"],
textarea {
    padding: 7px 11px 5px;
}


/* FORMS */ 
.formbox {
    border: 1px solid gray;
    background: #eee;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 15px 0;
}
.formbox.formbox-wide {
    max-width: 100%;
}

.formbox.formbox-wide .input-container {
    max-width: 300px;
}

.formbox label {
    display: block;
    font-weight: bold;
}
.formbox .input-container,
.radio-buttons {
    margin: 0 0 15px;
    color: inherit;
}
.formbox .input-container input[type="text"], 
.formbox .input-container input[type="password"],
.formbox .input-container input[type="date"], 
.formbox .input-container input[type="tel"],
.formbox textarea {
    width: 100%;
    display: block;
}
.formbox button {
    color: inherit;
}

.dropdown-list {
    max-width: 288px;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

form *:disabled,
form .disabled{
    cursor: not-allowed;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}