/* Text */

body {
    max-width: 992px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

    .italic {
        font-style: italic;
    }
    small {
        font-size: 70%; color: grey; font-weight: normal;
    }

    .card {

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 2px;
        margin-bottom: 22px;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    

    hr {
        height: 4px; 
        background-color: black;
    }

/* Alignment */


    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .justify {
        text-align: justify;
    }

    .inside {
        list-style-position: inside;
    }

/*list*/

    .circle li {
        list-style-type:circle;
    }

    .square li {
        list-style-type:square;
    }

    .w3 {
        list-style-image: url('../Images/w3.png') ;
    }

    .phone {
        list-style-image: url('../Images/telephone.png');
    }

    .tab {
        list-style-image: url('../Images/New\ Tab.png');
    }

    .window {
        list-style-image: url('../Images/Male\ user.png');
    }

    .top {
        list-style-image: url('../Images/home.png');
    }

    .bookmark {
        list-style-image: url('../Images/link.png');
    }

    .email {
        list-style-image: url('../Images/email.png');
    }

    /*forms*/

    * {box-sizing: border-box;}

.formbox {
    width: 25%;
}

.remember {
    padding-top: 15px;
    margin-left: 40px;
}

.input-container {
  display: flex;
  width: 100%;
  margin: 0 0 15px 10px;
}

.icon {
  padding: 10px;
  background: rgb(56, 59, 61);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid rgb(100, 120, 139);
}

.btn {
  background-color: rgb(104, 130, 156);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 81%;
  opacity: 0.9;
  margin-left: 50px;
}

.btn:hover {
  opacity: 1;


}/*stamp*/
 

/*tables*/

    table {
        border: 1px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table1 tbody tr:nth-child(odd){
        background-color: rgb(163, 163, 163);
    }

    .table1 tbody tr:first-child {
        vertical-align: top;
    }

    .table1 tbody tr:last-child {
        vertical-align: bottom;
    }

    .table1 td:nth-of-type(3) {
        text-align: center;
    }
    .table1 td:nth-of-type(4) {
        text-align: right;
    }

    .table1 thead:first-child th:first-child {
        width: 2%;
    }

    .table2 tr {
        border: 1px solid rgb(218, 216, 216)
    }

    .table2 thead {
        padding: 25px;
    }
    .table2 thead th {
        width: 10%
    }
    .table2 thead th:last-child {
        width: 40%
    }

    .table2 tr:first-child td:last-child {
        border: 1px solid black;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(2){
        border: 1px solid black;
    }

    .table2 tr:first-child td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:last-child td:nth-of-type(4){
        border: 1px solid black;
    }

    .table2 tr:last-child td:nth-of-type(3){
        border: 1px solid black;
    }

    .table2 tr:last-child {
        vertical-align: top;
    }
    .table2 td:first-child {
        vertical-align: middle;
    }

    .table2 tr:first-child {
        vertical-align: top;
    }

    .table2 tr:first-child td:first-child {
        vertical-align: middle;
    }

    .table2 tr:first-child td:last-child {
        vertical-align: middle;
        text-align: right;
    }

    .table2 tr:nth-of-type(2) td:nth-of-type(4){
        text-align: right;
        vertical-align: top;
    }

    .table2 tr:last-child td:last-child {
        vertical-align: top;
    }

    .table2 td:first-child {
        padding: 25px;
    }

    .table1 tr td:first-child {
        padding: 25px;
    }

/*box*/

    .content-link {
        text-decoration: none;
        color: black;
    }
    .content-link > *:last-child {
        margin-bottom: 0;
    }


    .box:first-of-type{
        margin-top: 0;
    }

    .box {
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 30px;
        width: 100%;
    }
    .clear {
       clear:both;


    }
/*div*/

    div {
        background-color: rgb(255, 255, 255);
    }

    .wrap {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        padding-left: 30px;
    }

    .wrap:first-of-type{
        padding-left: 0;
    } 


    /*images*/

    
    img {
        width: 100%;

    }
