<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/60-day.css">

<header>
    <div class="container">
        <div class="pull-left">
            <img class="logo" src="../../media/content-images/60-day-logo.svg" alt="logo" />
        </div>        
        <div class="pull-right">
            <ul class="contact">
                <li>
                    <a href="tel:0330109381" style="font-size:0.6vw; color: silver; ">CUSTOMER SERVICE: 0330 109381</a>
                </li>
            </ul>
        </div>
        <div class="pull-right clearfix">
            <ul class="menu">
                <li><a href="https://www.snapfinance.co.uk/" style="color: #336aaf; text-decoration: none; " onmouseover="this.style.color='#8dc63f'"
                    onmouseout="this.style.color='#336aaf'">Snap Finance Loan
                    </a>
                </li>
                <li><a href="https://www.snapfinance.co.uk/" style="color: #336aaf; text-decoration: none; " onmouseover="this.style.color='#8dc63f'"
                    onmouseout="this.style.color='#336aaf'">How it Works
                    </a>
                </li>
                <li><a href="https://www.snapfinance.co.uk/" style="color: #336aaf; text-decoration: none; " onmouseover="this.style.color='#8dc63f'"
                    onmouseout="this.style.color='#336aaf'">Bad credit?
                    </a>
                </li>
                <li><a href="https://www.snapfinance.co.uk/" style="color: #336aaf; text-decoration: none; " onmouseover="this.style.color='#8dc63f'"
                    onmouseout="this.style.color='#336aaf'">Become a merchant
                    </a>
                </li>
                <li>
                    <a class="btn btn-apply" href="https://consumer.snapfinance.co.uk/#/?mid=14353">Apply Now
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main>
    <div class="hero container-fluid">
        <div class="container hero-text">
            <h2>save money</h2>
            <h4>by taking advantage of our</h4>
            <h1>60 day</h1>
            <h2>settlement scheme</h2>
            <h5>use the interest you pay throughout the first
            <br/> 60 days to help make an early settlement</h5>
        </div>
    </div>
</main>

<footer></footer>
