<div class="wrap">
    <div ng-include="views/dynamic/index-training.html" data-ng-include="replace"></div>
    <div ng-include="views/dynamic/index-training.html" data-ng-include="replace"></div>
    <div ng-include="views/dynamic/index-demo.html" data-ng-include="replace"></div>
</div>

<div class="wrap">
    <div ng-include="views/dynamic/index-demo.html" data-ng-include="replace"></div>
    <div ng-include="views/dynamic/index-demo.html" data-ng-include="replace"></div>
</div>

<div class="wrap">
    <div ng-include="views/dynamic/index-60-day.html" data-ng-include="replace"></div>
    <div ng-include="views/dynamic/index-60-day.html" data-ng-include="replace"></div>
</div>