<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/design.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" src="../../media/content-images/60-day-logo.svg">
                </a>
                <!-- <a class="navbar-brand" href="#">Brand</a> -->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="landing-page.html">Snap Finance loan</a>
                    </li>
                    <li>
                        <a href="how-it-works.html">How it Works</a>
                    </li>
                    <li>
                        <a href="reviews.html">Reviews</a>
                    </li>
                    <li>
                        <a href="#">The Team</a>
                    </li>
                    <button type="button" class="btn btn-apply">Apply Now</button>
                    <li class="dropdown">
                        <a href="landing-page.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Privacy
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="privacy-policy.html">Collecting, Using and Sharing Information</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">What Information Snap Collects about You</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Cookies and Other Technologies</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Online Tracking</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Advertising on Third Party Sites</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Additional Information</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Privacy</h2>
        Snap Finance LLC and its affiliated companies (“Snap”) respects the privacy of our customers and visitors. We are committed
        to protecting your online information with the highest standards available. Please read our privacy policy carefully
        to understand how we will use the information you provide while using sites associated with Snap (“Sites”). This
        policy may change from time to time, so please check each Site’s website each time you use it for the most current
        information.

        <h2>Collecting, Using and Sharing Information</h2>
        Unless otherwise described in this policy, the types and categories of information we may collect from or about you as a
        consumer, and our use and sharing of any such information, are described in Snap’s Privacy Notice. We may also use
        and share aggregated and other de-personalized information with third-parties. If you have any questions that this
        statement does not address, please contact a Customer Service Representative toll-free at (877) 557-3769

        <h2>What Information Snap Collects about You</h2>
        Snap collects personally identifiable information (“Personal Information”) and Non-Personally Identifiable Information (“NPI”).
        We collect Personal Information and NPI about our customers and website visitors, in primarily these ways: directly
        from our customer or website visitor; from or about customers and applicants buying or leasing products from a store
        where we do business; from our web server & application logs, cookies, web beacons, and similar technologies; and
        from third-parties. We define Personal Information as information that directly identifies an individual, such as
        name, residential street address or postal address, email address, social security number, date of birth, driver’s
        license number, government issued identification number, phone number, credit card number, bank account or other
        financial institution account number, and user name and password when you use our website portal to make payments.
        We define Non-Personally Identifiable Information or NPI as information about an individual or about categories or
        groups of individuals that does not identify you individually, such as your IP address, randomly assigned values
        in “cookies,” mobile device identifiers, geo-location, and other technical information. We also collect other information
        that may not identify you individually, such as occupation and other employment information, source of income, personal
        references, and residence-related information such as lease and ownership information, and other information. We
        use your Personal Information and NPI primarily to review your lease application and provide you the ability to lease
        products, to ensure quality of service, to contact you, to provide you with offers or information about products
        and services, and to provide you with a personalized website experience.

        <h2>Cookies and Other Technologies</h2>
        We or our third-party service providers may place and read data stored (via session and/or persistent “cookies” or other
        device specific storage capabilities) on the device you are using, and use other technologies such as Web beacons,
        clear GIFs, tracking pixels and tags, when you visit or use our Sites or open a Snap email. Cookies are small data
        files that are placed on your device for a variety of purposes, including to identify your device and/or your account
        when you return to a Snap Site. You can generally remove, block, or disable cookies by using the settings located
        in your browser. If you decide to remove or not accept cookies, some features and services on our Sites may not work
        properly and the offers we provide when you visit or use our Sites may not be as relevant to you or tailored to your
        interests.

        <h2>Online Tracking</h2>
        We intend to provide you with a personalized experience. We do not alter or change your experience, or otherwise respond
        to “DNT” or “do not track” signals or other mechanisms received from your computer or mobile device. While on the
        Site, other third parties may be collecting your Personal Information as described above. Using Information We and
        third parties, including our service providers, may use information from our server logs, cookies and other technologies,
        in combination with information you provide, transaction information, and information that we or they collect from
        others, to develop, offer, deliver and improve our products and services, to offer products and services of our affiliates,
        marketing partners and other companies, to process your transactions, to fulfill legal and regulatory requirements,
        and as otherwise permitted by applicable law. For example, we may use the information to: Operate Snap Sites; Deliver
        products and services to people who use our Sites; Understand how visitors use our Sites, assist us with resolving
        visitors’ questions regarding the use of our Sites, and determine whether the content on our Sites is effective;
        Improve our Sites and service offerings; Personalize your experience on the Sites and customize the communications
        and advertisements you receive from us, our affiliates and others; Deliver online (for example, on our Sites, via
        email and as you visit or use third party Sites) and offline advertisements and other information about products
        or services offered by Snap Finance, our affiliates, and others; and To let us know which emails have been opened
        by recipients to understand the effectiveness of our marketing and other communications and to make those communications
        more useful and interesting to you. ​Inspectlet We have engaged Inspectlet to analyze the user behavior of visitors
        to this website and provide research information designed to improve the customer experience. Inspectlet's standard
        use of cookies and other tracking technologies can enable it to have access to Personal Information of visitors to
        this website. Such access to and use of Personal Information by Inspectlet is governed by Inspectlet's Privacy Policy
        (https://www.inspectlet.com/legal#privacy) and handling sensitive data: http://www.inspectlet.com/docs#handling_sensitive_data
        NB: By default we do not allow Inspectlet to record any personal private information inputted into any of our forms.
        Your inputted private details will not form part of our research. If you wish to opt out of Inspectlet research,
        you can do so here: https://www.inspectlet.com/optout

        <h2>Advertising on Third Party Sites</h2>
        We may contract with third parties to advertise our products and services on Sites not affiliated with Snap. If you click
        on one of our advertisements, you link to the Snap Site that offers the advertised product or service. These ads
        may contain cookies that allow tracking of your response to our ads. We and our contracted third parties track and
        report performance of our advertising and marketing campaigns by using cookies and use related technology, such as
        tracking pixels. These tracking pixels (also known as action tags, Web beacons, or transparent GIF files) and other
        similar tracking technologies may be used to collect and store information about user visits, such as the user’s
        anonymous cookie ID, page visits and duration, and the specific ad or link that the user clicked on to visit the
        Site. No personally identifiable information is stored on these cookies or tracking pixels. Some of our advertisements
        on third party Sites may use behavioral information (such as how you navigate to the Site and/or your activity on
        our Sites) to provide relevant advertisements to you. We use third party advertising partners that may use cookies,
        other technologies, and information about you to deliver these ads while you visit or use these Sites. These companies
        are authorized to use the information we provide and they collect when you navigate to a Site within the advertising
        partner networks to provide this service to Snap. Each of the third-party advertising partners that we work with
        may from time to time participate in the Network Advertising Initiative (“NAI”) or the Digital Advertising Alliance
        (“DAA”), or both. If you prefer not to receive targeted ads or offers from NAI or DAA partners as you visit or use
        these Sites, you may opt-out by clicking on and following the directions contained in both the NAI opt-out link and
        the DAA opt-out link. Please allow up to 10 days for the opt-out to take effect. In order for the opt-out to work,
        your browser must be set to accept third party cookies. Furthermore, if you use a different device, change browsers
        or delete the opt-out cookie, you will need to perform the opt-out task again. Please also note that if you choose
        to opt-out from receiving these targeted advertisements, you may still see advertisements while you’re visiting or
        using third party Sites. However, the advertisements you see may be less relevant to you and your interests.

        <h2>Additional Information</h2>
        Unless prohibited by law, you have the right, upon reasonable notice, to view any personally identifiable information collected
        from you through your visits to or use of our Sites, to make corrections to such information if necessary, or to
        request that such information be removed from our systems. You may do so by contacting us at the address indicated
        at the end of this policy. We do not intend to advertise our products or services to persons under 18 years of age,
        or to collect personal information from children under 13 years of age. If we learn that we have collected this information
        from a child under the age of 13, we will promptly take all reasonable steps to delete the data from our system.
        From time to time, you may access our Sites through the Site of one of our marketing partners. We will try to show
        clearly whether a page is co-branded by placing our marketing partner’s name or logo in a prominent place or otherwise.
        If you provide your information on a co-branded page, your registration information may be shared with our marketing
        partner.

        <h2>Contacting Us</h2>
        If you wish to contact us with any questions or comments about this policy you can write or call us toll-free at:

        <address>
            <strong>Snap Finance</strong>
            <br> PO Box 26561
            <br> Salt Lake City
            <br> UT 84126 (877) 557-3769
            <br>
        </address>

        <h2>Changes to this policy</h2>
        We may change our website Privacy Statement from time to time. We will notify you of any material changes to our Privacy
        Statement as required by law. We will also post an updated copy on our website(s). Please check periodically for
        updates. The website Privacy Statement was last updated on November 1, 2015 (11/01/2015). For California Residents
        If you are a California resident, you may ask us to refrain from sharing Personal Information with third parties
        for their own direct marketing purposes. Please indicate your preference by contacting us as described above. Please
        also note it may take us thirty (30) days to fully process your request.


    </div>

</body>

</html>