<div>
    <div class="card">
        <h1>Headings</h1>
        <h1>h1. heading
            <small>Secondary Text</small>
        </h1>
        <h2>h2. heading
            <small>Secondary Text</small>
        </h2>
        <h3>h3. heading
            <small>Secondary Text</small>
        </h3>
        <h4>h4. heading
            <small>Secondary Text</small>
        </h4>
        <h5>h5. heading
            <small>Secondary Text</small>
        </h5>
        <h6>h6. heading
            <small>Secondary Text</small>
        </h6>
    </div>

    <div class="card">
        <h1>Body Copy (with text formatting)</h1>
        <p>
            Nullam quis risus
            <strong> eget urna mollis </strong> ornare vel eu leo.
            <u>Cum sociis natoque penatibus</u> et magnis dis parturient montes, nascetur ridiculus mus.Nullam id dolor
            id nibh ultricies vehicula.
        </p>
        <p>
            Cum socials antique
            <sub> pentises </sub> et
            <sup> magmas </sup> dis parturient mantes, masseter ridicules mus. Donec Tullamore nullar non metus auctor fringilla.
            Duis mollis, est non commodo luctus,nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec Tullamore
            nullar non-link fringilla.
        </p>
        <p class="italic">
            Maecenas seed dam eget rises varies bandit sit amet non-magna. Donec id elit non mi porta gravida at eget metus. Duis mollis,
            est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        </p>
        <p>
            <kbd>Keyboard input</kbd><br>
            <var>Variable</var><br>
            <s> strikethrough </s>
        </p>
    </div>

    <div class="card">
        <h1>Lead Body Copy (with text alignment)</h1>
        <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <p class="center">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <p class="right">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <p class="justify">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <p class="justify">
            <bdo dir="rtl"> left to right text
            </bdo>
        </p>
    </div>
    <div class="card">
    <h1 id="AD">Addresses</h1>
    <address class="address">
        <b>Twitter, Inc.</b><br/> 
        1355 Market Street, Suite 900<br/> 
        San Francisco, CA 94103<br/>
        P: (123) 456-789
    </address>
</div>
<div class="card">
<h1>Blockquotes</h1>

<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    <footer>Someone famous in
        <cite> Source Title</cite>
    </footer>
</blockquote>
</div>

    <div class="card">
    <h1>Description List</h1>
    <dl>
        <dt>
            <b>Description lists</b>
        </dt>
        <dd>A description list is perfect for defining terms.</dd>
        <dt>
            <b>Euismod</b>
        </dt>
        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        <dt>
            <b>Malesuada porta</b>
        </dt>
        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
</div>
    <div class="card">
    <h1>Lists</h1>
    <ul>
        <li>Integer molestie lorem at massa</li>
        <li> Facilisis in pretium nisl aliquet</li>
        <li> Nulla volutpat aliquam velit</li>
        <li class="list-item-invisible">   
            <ul class="circle">
                <li> Phasellus iaculis neque</li>
                <li> Purus sodales ultricies</li>
                <li class="list-item-invisible">   
                    <ul class="square">
                        <li> Vestibulum laoreet porttitor sem</li>
                    </ul>
                </li>
                <li> Ac tristique libero volutpat at</li>
            </ul>
        </li>
        <li> Faucibus porta lacus fringilla vel</li>
        <li> Aenean sit amet erat nun</li>
    </ul>

    <ol type="1">
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li class="list-item-invisible">
            <ol type="a">
                <li>Facilisis in pretium nisl aliquet</li>
                <li class="list-item-invisible">
                    <ol type="i">
                        <li> Nulla volutpat aliquam velit</li>
                    </ol>
                </li>
                <li> Faucibus porta lacus fringilla vel</li>
                <li> Aenean sit amet erat nunc</li>
            </ol>
        </li>
        <li> Eget porttitor lorem</li>
    </ol>

    <ol start="14">
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li class="list-item-invisible">
            <ol type="a" start="11">
                <li>Facilisis in pretium nisl aliquet</li>
                <li class="list-item-invisible">
                    <ol type="I" start="5">
                        <li> Nulla volutpat aliquam velit</li>
                    </ol>
                </li>
                <li> Faucibus porta lacus fringilla vel</li>
                <li> Aenean sit amet erat nunc</li>
            </ol>
        </li>
        <li> Eget porttitor lorem</li>
    </ol>
</div>
    <div class="card card-inside">
    <h1>Links and lists with special Icon</h1>
    <ul class="icon-list">
        <li class="w3">
            <a href="https://www.w3schools.com/html/"><i class="fab fa-wordpress-simple"></i> W3 Schools</a>
        </li>
        <li>
            <a href="tel:07540747424"><i class="fas fa-phone"></i> 07540747424</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/html/" title="Go to W3 schools (open in a new Tab)" target="_blank"><i class="far fa-plus-square"></i> Open a new tab</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/html/" title="Go to W3 schools (open with parameters) NEED HELP"><i class="fas fa-external-link-alt"></i> Open new window with parameter</a>
        </li>
        <li>
            <a href="#" title="Go to top of the page"><i class="fas fa-sort-amount-up"></i> Go to top of page</a>
        </li>
        <li>
            <a href="#AD" title="Link to Addresses"><i class="fas fa-bookmark"></i> Link to a bookmark </a>
        </li>
        <li>
            <a href="mailto:dklyen@snapfinance.co.uk" title="Send Email to Dominic Klyen"><i class="fas fa-envelope"></i> Email link</a>
        </li>
        <li>
            <a href="mailto:dklyen@snapfinance.co.uk?subject=Hello&body=Good%20Morning%20Dominic" title="Send Email to Dominic Klyen specific content"><i class="far fa-envelope-open"></i> Email link with subject and content pre filled</a>
        </li>
    </ul>
    </div>

    <div class="spinning">
    <div class="card card-spin">
    <h1>Code</h1>
    <p>
        <code>
            x = 5 <br/>
            y = 6 <br/>
            z = x + y
        </code>
    </p>
</div>
</div>
    <div class="card">
    <h1>Tables</h1>
    <table class="table1">
        <caption>Test table</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mod</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">table footer</td>
            </tr>
        </tfoot>
    </table>
    </div>

    <div class="card card-tables">
    <table class="table2">
        <thead>
            <tr>
                <th>#</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Table Cell</td>
            <td>Table Cell</td>
            <td colspan="2">molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie
                lorem at massa</td>
            <td>Table Cell</td>
            <td rowspan="2">molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie
                lorem at massa</td>
        </tr>
        <tr>
            <td>2</td>
            <td rowspan="2">molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie
                lorem at massa</td>
            <td>Table Cell</td>
            <td colspan="2">molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie lorem at massa molestie
                lorem at massamolestie lorem at massa molestie lorem at massa molestie lorem at massa molestie lorem
                at massa molestie lorem at massa</td>
            <td>Table Cell</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Table Cell</td>
            <td>Table Cell</td>
            <td>Table Cell</td>
            <td>Table Cell</td>
            <td>Table Cell</td>
        </tr>
    </table>
</div>

<div class="card card-form">
    <div class="formbox">
        <h2>Log In:</h2>
        <form action="https://consumer.snapfinance.co.uk/?#/?mid=14353">
            <div class="input-container">
                <label>Username</label>
                <input type="text" placeholder="Username" name="uname" id="uname" required="required" />
            </div>
            <div class="input-container">
                <label>Password</label>
                <input type="password" placeholder="Password" name="Password" id="Password" required="required" />
            </div>
            <div class="input-container">
                <label><input type="checkbox" name="remember" /> Remember Me</label>
            </div>
            <div class="input-container">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>

<div class="card card-form">
    <div class="formbox formbox-wide">
        <h2>Contact Us:</h2>
            <form action="Images/infosection1.jpg">
                <fieldset>
                <legend>Personal information:</legend>
                    <div>
                        <div class="input-container">
                            <label>Name</label>
                            <input type="text" placeholder="Name" />
                        </div>
                        <div class="input-container">
                            <label>Email</label>
                            <input type="text" placeholder="Email" />
                        </div>
                        <div class="input-container">
                            <label>Date of Birth</label>
                            <input type="date" />
                        </div>
                        <div class="input-container">
                            <label>Telephone Number</label>
                            <input type="tel" placeholder="Tel:" />
                        </div>
                </fieldset>
                <fieldset>
                        <legend>Additional information:</legend>
                        <div class="input-container">                        
                        <label>Reason for Contact</label>
                        <input type="text" disabled="disabled" />
                        </div>
                        <div class="input-container"> 
                        <label>Message</label>
                        <textarea name="Message" rows="10" cols="20"></textarea>
                        </div>           
                </fieldset>
                    </div>
            </form>
        </div>
    </div>

    <div class="card card-form">
        <form class="formbox formbox-wide">
            <h2> Buttons and Dropdowns</h2>
            <fieldset>
                <legend>Radio Buttons</legend>
                <div>
                    <div class="radio-buttons"> 
                        <label><input id="1" type="radio" value="1" name="one" checked="checked"/> Option 1 should be selected by default</label>
                    </div>
                    <div class="radio-buttons">
                        <label><input id="2" type="radio" value="1" name="one"/> Option 2 is something else</label>
                    </div>
                    <div class="radio-buttons">     
                        <label class="disabled"><input id="3" type="radio" value="1" name="one" disabled/> Option 3 is disabled</label>
                    </div>
                    <div>  
                        <select name="list" class="dropdown-list">
                            <option value="Please select" disabled="disabled" selected="selected" hidden="hidden">Please Select</option>
                            <optgroup label="1-2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </optgroup>
                            <optgroup label="3-5">
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </optgroup>
                        </select>
                    </div>    
                </div>
            </fieldset>    
        </form>
    </div>
</div>
